
/*
 * Legal Disclaimer
 * These font are licensed only for use by Michigan State University.
*/

@font-face {
    font-family: 'GothamBook';
    src:
        url('../font/gotham/gotham-book.eot?#iefix') format('embedded-opentype'),
        url('../font/gotham/gotham-book.woff') format('woff'),
        url('../font/gotham/gotham-book.ttf') format('truetype'),
        url('../font/gotham/gotham-book.svg#GothamBook') format('svg');
}

@font-face {
    font-family: 'GothamBookItalic';
    src:
        url('../font/gotham/gotham-bookItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/gotham/gotham-bookItalic.woff') format('woff'),
        url('../font/gotham/gotham-bookItalic.ttf') format('truetype'),
        url('../font/gotham/gotham-bookItalic.svg#GothamBookItalic') format('svg');
}

@font-face {
    font-family: 'GothamMedium';
    src:
        url('../font/gotham/gotham-medium.eot?#iefix') format('embedded-opentype'),
        url('../font/gotham/gotham-medium.woff') format('woff'),
        url('../font/gotham/gotham-medium.ttf') format('truetype'),
        url('../font/gotham/gotham-medium.svg#GothamMedium') format('svg');
}

@font-face {
    font-family: 'GothamBold';
    src:
        url('../font/gotham/gotham-bold.eot?#iefix') format('embedded-opentype'),
        url('../font/gotham/gotham-bold.woff') format('woff'),
        url('../font/gotham/gotham-bold.ttf') format('truetype'),
        url('../font/gotham/gotham-bold.svg#GothamBold') format('svg');
}

@font-face {
    font-family: 'GothamBoldItalic';
    src:
        url('../font/gotham/gotham-boldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/gotham/gotham-boldItalic.woff') format('woff'),
        url('../font/gotham/gotham-boldItalic.ttf') format('truetype'),
        url('../font/gotham/gotham-boldItalic.svg#GothamBoldItalic') format('svg');
}

@font-face {
    font-family: 'GothamBlack';
    src:
        url('../font/gotham/gotham-black.eot?#iefix') format('embedded-opentype'),
        url('../font/gotham/gotham-black.woff') format('woff'),
        url('../font/gotham/gotham-black.ttf') format('truetype'),
        url('../font/gotham/gotham-black.svg#GothamBlack') format('svg');
}